
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <style>
    
*button{
  padding: 50px;
  margin: 20;
}
.location_you_entered{
   margin-top:10px ;
   width: 400px; 
   height: 60px; 
   font-size: 18px;
   background-color:rgba(245, 245, 220, 0.5);
}
  </style>
</head>
<body>
    <%console.log(stops)%>
    <%stops.forEach(function(stop){%>
    <button class="location_you_entered">
        <%=stop.currentLocation%>
        <br>
        <%=stop.destinationName%>
    </button> <br>
    <%})%>
  <!-- <button class="location_you_entered" onclick="handleButtonClick('Attarkhel - Purano Buspark')">
    Attarkhel - Purano Buspark
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Chakrapath - Parikrama')">
    Chakrapath - Parikrama
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Gojarna - Chabahil-Naya Buspark-kalanki')">
    Gojarna - Chabahil-Naya Buspark-kalanki
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Lagankhel - Naya Buspark(RingLoad)')">
    Lagankhel - Naya Buspark(RingLoad)
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Ratnapark - Panauti')">
    Ratnapark - Panauti
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Ratnapark - Dhulikhel')">
    Ratnapark - Dhulikhel
    
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Ratnapark - Sundarijal')">
    Ratnapark - Sundarijal
    
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Ratnapark - Daksinkali')">
    Ratnapark - Daksinkali

</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Jorpati- Purano BusPark')">
    
    Jorpati- Purano BusPark
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick(' Purano Bus Park - Sakhu')">
    
    Purano Bus Park - Sakhu
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Kausaltar - Naikap')">
    
    Kausaltar - Naikap
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Budhanilkantha School - Ratnapark')">
    Budhanilkantha School - Ratnapark
    
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Purano Bus Park - Budhanilkantha')">
    Purano Bus Park - Budhanilkantha
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Purano Bus Park - Shivapuri')">
    Purano Bus Park - Shivapuri
    
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Ratnapark - Changu')">
    Ratnapark - Changu
    
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Ratnapark - Changu')">
    
    Ratnapark - Changu
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Bagbazzar - Kamalbinayak')">
    Bagbazzar - Kamalbinayak
   
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick(' Bhaktapur-Purano Thimi - Purano Buspark')">
  
    Bhaktapur-Purano Thimi - Purano Buspark
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Kamalbinayak - Ratnapark')">
   
    Kamalbinayak - Ratnapark
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick(' Ratnapark - Chyamasingh')">
    Ratnapark - Chyamasingh
    
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick(' Gathatar - Purano Buspark-kalanki')">
    Gathatar - Purano Buspark-kalanki
  
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Kalanki - Balkumari')">
    Kalanki - Balkumari
    
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Kalanki - Pepsicola')">
    Kalanki - Pepsicola
 
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Purano Buspark - Chabhil')">
    Purano Buspark - Chabhil
   
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Nepal Yatayat - Balkumari-Gopi Krishna')">
    Nepal Yatayat - Balkumari-Gopi Krishna
    
</button> <br>
<button class="location_you_entered" onclick="handleButtonClick('Kalanki - TIA Airport')">
    
    Kalanki - TIA Airport
    
</button> -->
<!-- <script>
    
function handleButtonClick(location) {
    if (location === 'Attarkhel - Purano Buspark') {
        document.write("<strong>1. Bhadrakali <br> 2. Singha Durbar West Stop <br>3. Maitihjar <br> 4. Buddhangar Stop <br>5. Naya Baneshwor Bus Station <br>6. Minbhawan Stop <br> 7. Shantinagar Stop <br> 8. Tinkune Stop <br> 9. Gairigaun Stop <br> 10. Sinamangal Ring Road Stop <br> 11. Airport Bus Station <br> 12. Gaushala Chok Stop <br> 13. Chablil <br> 14. Hyatt Regency <br> 15. Boudha <br> 16. Jorpati <br> 17. Attarkhel <br> 18. Purano Bus Aprk </strong>");
    }
    if (location === 'Chakrapath - Parikrama'){
        document.write("<strong>1. Gaushala Chowk Stop <br> 2. Gopi Krishna Stop <br>3. Sukedharastop <br> 5. Chappal Karkhana Stop <br> 6. Narayan Gopal Stop <br> 7. Basunshara Stop <br> 8.Samakhusi Stop <br> 9. Gangabu Stop <br> 10. Macchapokhari Stop <br> 11. Balaju Stop <br> 12. Banasthali Stop <br> 13. Dhungedhara Stop <br> 14. Sano Bharayang <br> 15. Thulo Bharayang<br> 16. Swyambhu Stop<br> 17. Kalanki Shwok<br>18. Khasibazzar<br>19. Balkhu<br> 20. Sanepa Height<br> 21. Ekantakuna<br> 22. Satdobato Stop<br>23. Gwarko Stop<br>24. Koteshwor Stop<br>25. Tinkune Stop<br>26. Sinamangal Stop<br> 27.Airport(TIA)<br> 28. Pinglasthan<br> 29. Gaushala </strong>")
    }
    if (location === 'Gojarna - Chabahil-Naya Buspark-kalanki'){
        document.write("<strong>1. Gokarna Bus Stop<br> 2. Jorpati<br>3. Boudha<br> 4. Hyatt Regency<br>5. Chabahil<br> 6.Gopi Krishna Stop <br>7. Dhumbarahi<br> 8. Narayan Gopal Chok<br>9. Samakhusi Stop<br> 10. Naya Bus Park<br> 11. Balaju<br> 12. Dhungedhara<br> 13. Kalanaki Chowk </strong> ");
    }
    if (location === 'Lagankhel - Naya Buspark(RingLoad)'){
        document.write("<strong>1. Lagankhel Stop<br> 2. Batuk Bhairav<br> 3. Lalitpur Industrial Estate<br>4. Satdobato <br> 5. B & B Hospital /KMC Stop <br> 6 .Gwarko Chok <br> 7. Koteshwar Stop<br>8. Gairigaun Stop<br> 9. Sinamangal Ring Road Stop<br> 10. Airport Bus Station <br>11. Chabahil <br> 12. Gopi Krishna Stop <br> 13. Sukedhara Stop <br> 14. Chapal Karkhana Stop<br> 15. Narayan Gopal chok<br> 16. Basundhara<br> 17. Samakhusi Stop <br> 18. Gangabu chok <br> 19. Naya Bus Park </strong> ");
    }
    if (location === 'Ratnapark - Panauti'){
        document.write("<strong>1. Bhadrakali <br> 2. Singha Durbar West Stop </strong> ");
    }
}
</script> -->
</body>
</html>